<div class="flex justify-center mt-36 items-center" *ngIf="!loading">
  <div class="flex flex-col items-center justify-between h-48 ">
    <h2 class="flex justify-center text-[30px] text-sky-500 font-bold">Enter a GitHub username</h2>
    
    <div class="flex flex-col items-center justify-around h-4/6 w-10/12">
      <input type="text" [(ngModel)]="username" (keydown.enter)="onClick()" placeholder="Enter a username" class="border border-slate-950 rounded-md w-full px-5 py-2 focus:border-2 focus:outline-none focus:border-sky-500">
      <span *ngIf="checkusername" class="text-red-700 absolute">Please enter a username first</span>
      <div class="w-10/12">
        <button type="submit" class="text-[17px] bg-blue-500 hover:bg-blue-600 text-white font-bold w-full py-2 px-4 rounded" (click)="onClick()">Search</button>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center mt-20" *ngIf="error">
  <span class="text-[25px]">Error: Nothing Found for username - {{ temp }}</span>
</div>

<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>