<nav class="flex items-center justify-center space-x-4 mt-8 mob">
  <div class="mobile">
    <button class="px-3 py-1 border rounded-md bg-sky-600" [class.bg-zinc-400]="currentPage===1"
      [disabled]="currentPage === 1" (click)="pageSwitch(currentPage - 1)">Previous</button>

    <div *ngFor="let i of iterationArray" class="flex">
      <button class="border flex-1 border-sky-600 w-6" [class.bg-sky-600]="currentPage === (i + 1)"
        (click)="pageSwitch(i + 1)">{{i+1}}</button>
    </div>

    <button class="px-3 py-1 border rounded-md bg-sky-600" [class.bg-zinc-400]="currentPage===iterationArray.length"
      [disabled]="currentPage === iterationArray.length" (click)="pageSwitch(currentPage + 1)">Next</button>

  </div>
  <div class="relative nav" (click)="toggleDropdown()">
    <button
      class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Items per page: {{ perPage }}
      <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
        aria-hidden="true">
        <path fill-rule="evenodd"
          d="M10 12a1 1 0 01-.707-.293l-4-4a1 1 0 111.414-1.414L10 9.586l3.293-3.293a1 1 0 111.414 1.414l-4 4A1 1 0 0110 12z"
          clip-rule="evenodd" />
      </svg>
    </button>

    <div class="absolute z-10 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5"
      *ngIf="isDropdownOpen">
      <div class="py-1">
        <div class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
          (click)="onChangePageSize(10); toggleDropdown()">10</div>
        <div class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
          (click)="onChangePageSize(20); toggleDropdown()">20</div>
        <div class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
          (click)="onChangePageSize(50); toggleDropdown()">50</div>
        <div class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
          (click)="onChangePageSize(100); toggleDropdown()">100</div>
      </div>
    </div>
  </div>
</nav>